<p id="notice"><%= notice %></p>

<p>
  <strong>Comic:</strong>
  <%= @comic.comic_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @comic.issue %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comic.description %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @comic.thumbnail %>
</p>

<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
